@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
  margin: 0;
}

/* Shared Styles */

main{
  max-width: 1440px;
  margin: 0 auto;
}
.bg-color-secondary{
  background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
  display: flex;
}
.dark-1{
  color: #131313;
}
.dark-2{
  color: #424242;
}
.dark-3{
  color: #727272;
  font-size: 1rem;
}
.btn-primary{
  padding: 20px 24px;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  background-color: #FF900E;
  font-weight: 600;
  font-size: 1.25rem;
}
.section-title{
  font-weight: bold;
  font-size: 2.8125rem;
}
/* Header Styles */

/* Nav Styles */
.nav-bar, .banner{
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  
}
.brand-logo{
  font-size: 2.8125rem;
  font-weight: bold;
}
ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
}
.nav-links{
  max-width: 477px;
  gap: 30px;
  font-size: 1.125rem;
  font-weight: 500;
}

/* Banner Style */
.banner-content{
  max-width: 861px;
  margin: 0 auto;
  text-align: center;
}
.banner-title{
  font-size: 4rem;
  font-weight:bold;
  margin-bottom: 0;
}
.banner-description{
  margin-top: 25px;
  margin-bottom: 32px;
}
.banner-button{
  margin-bottom: 50px;
}
.banner-img{
  margin-bottom: 45px;
  width: 100%;
}

/* Main Part */

.teams{
  margin-top: 85px;
  margin-bottom: 130px;
  align-items: center;
}
.team-photo{
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 342px);
}
.our-features{
  max-width: 537px;
  margin-left: 73px;
}
#span-three{
  color: #727272;
  font-weight: 500px;
  font-size: 2.8125rem;
}
.span-one{
  color: #131313;
  font-size: 2.8125rem;
  font-weight: bold;
}
.span-two{
  color: #FF900E;
  font-weight: bold;
  font-size: 2.8125rem;
  margin-bottom: 0;
}
.features-description{
  margin-top: 24px;
  margin-bottom: 32px;
}
.feature-architect img{
  width: 100%;
}

/* Fact Section Styles */

.facts-container{
  margin-top: 100px;
  display: grid;
  gap: 124px;
  grid-template-columns: repeat(4, 242px);
  justify-content: center;
  
}
.fact{
  border: 1px solid #FF900E;
  border-radius: 8px;
  text-align: center;
  height: 242px;
}
.facts-title{
margin-bottom: 24px;
}
.facts-description{
margin-bottom: 100px;
}
.fact-icon{
  margin-top: 46px;
}
.fact-number{
  font-weight: 600px;
  font-size: 2.8125rem;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact-name{
  font-weight: 600;
  font-size: 1.25rem;
  color: #727272;
  margin-top: 0;
}
/* Love and Enjoy Styles */
.love-enjoy{
  margin-bottom: 24px;
}
.love-enjoy-description{
  margin-bottom: 30px;
  width: 586px;
}
#border-vertical{
  border-left: 5px solid #FF900E;
  padding-left: 21px;
}
.feature-card-title{
  font-size: 1.25rem;
  font-weight: 600;
}
.feature-card{
  padding: 30px 42px 30px 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0 ,0.06);
  border-radius: 8px;
  margin-bottom: 20px;
  margin-right: 146px;
}
.Experience-btn{
  padding: 45px;
  margin-left: -100px;
  margin-top: -120px;
}
#years10{
  font-weight: bold;
  font-size: 4.0625rem;
}

/* Sponsor Section Styles */
.sponsors-container{
  background-color: rgba(255, 244, 231, 1);
}
.sponsors-title{
  font-weight: bold;
  font-size: 2.8125rem;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 24px;
}
.sponsors-description{
  font-size: 1rem;
  text-align: center;
  margin-bottom: 50px;
}
.sponsors{
  display: grid;
  grid-template-columns: repeat(5, 166px);
  justify-content: space-between;
  align-items: center;
  filter: grayscale(100%);
}


/* Responsive Media Query */

@media screen and (max-width: 576px) {
  .nav-bar,
  .nav-links,
  .teams,
  .love-enjoy-feature{
    flex-direction: column;
  }
  
  /* Features section */
  .team-photo, .facts-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features{
    margin-top: 60px;
    margin-left: 2px;
  }
  .fact{
    margin-top: 0;
  }
  .sponsors{
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    gap: 50px;
    justify-items: center;
  }
  .Experience-btn{
    margin-top: 20px;
    margin-left: 20px;
  }
}

/* For Tablets */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .our-features{
    margin: 20px auto;
    text-align: center;
  }
  .teams{
    flex-direction: column;
  }
  .facts-container{
    grid-template-columns: repeat(2, 1fr);
    margin-left: 100px;
    margin-right: 100px;
  }
  .facts-title, .facts-description{
    text-align: center;
  }
  .sponsors{
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 40px;
    justify-items: center;

  }
}